- if @meetings
  - @meetings.each do |meeting|
    %div
      %a{:href => "/meeting/#{meeting.id}"}=h meeting.meeting_time
      %a{:href => "/project/unassign_meeting/#{@project.id}/#{meeting.id}"} (unassign)
- meetings = $meetings.reject { |x| @meetings.map(&:id).include?(x.id) }
- unless meetings.empty? 
  %div{:style => "margin-top: 5px"}
    Assign to Meeting:
    %form{:id => "assign-meeting", :style => "display: inline", :method => "POST"}
      %input{:type => "hidden", :name => "project_id", :value => @project.id}
      %select{:name => "meeting_id", :onchange => "$(this.form).submit(); return false;"}
        %option{:value => ""}
          - meetings.each do |meeting|
            %option{:value => meeting.id}=h meeting.meeting_time
