.mainpane.center
  .bordered-box
    - if @error
      .warning=@error
    %form{:method => "POST"}
      %table
        %tr
          %td Project Name
          %td
            %input{:type => "text", :name => "name", :size => 50, :value => params[:name]}
        %tr
          %td Description 
          %td
            %input{:type => "text", :name => "description", :size => 50, :value => params[:description]}
        %tr
          %td Source Control (github, etc) URL 
          %td
            %input{:type => "text", :name => "source_code_url", :size => 50, :value => params[:source_code_url]}
        %tr
          %td Technical Interests (comma separated)
          %td
            %input{:class => "tech_complete", :type => "text", :name => "techs", :size => 50, :value => params[:techs]}
        -# TODO meeting this is for
        %tr
          %td{:colspan => 2}
            %input{:style => "float: left", :type => "submit", :value => "Create Project"}
