.mainpane
  #create-project.bordered-box.center{:style => "text-align: center; width: 30%"}
    %a{:href => "/project/create"} Create a New Project
  - unless authenticated?
    :javascript
      $(document).ready(function() { $("#create-project").hide(); });
  - @full_projects.each do |project|
    .bordered-box
      %span.plus [-]
      %span.topic=h project.project.name
      %a.close_link{:href => "javascript:void(0)"} Close
      .details
        %dl
          %dt.heading Owner
          %dd 
            %a{:href => "/account/view/#{e project.user.username}"}=h project.user.realname
          %dt.heading Description
          %dd=h project.project.description 
          - unless project.project.source_code_url.empty?
            %dt.heading Source Control
            %dd
              %a{:href => project.project.source_code_url}=h project.project.source_code_url
