.mainpane
  .bordered-box
    %span.plus [-]
    %span.topic Project: Some Topic
    %a.close_link{:href => "javascript:void(0)"} Close
    .details
      %dl
        %dt.heading Owner
        %dd Some Guy
        %dt.heading Description
        %dd This is an awesome description that you absolutely need to read.
        %dt.heading Source Control
        %dd
          %a{:href => "#"} http://foo.bar.example.org/git/blah/i/hate/urls
  .bordered-box
    %span.plus [+]
    %span.topic Project: Some Topic
  .bordered-box
    %span.plus [+]
    %span.topic Project: Some Topic
