!!! XML
!!!
%html
  %head
    %title=title(@title)
    %meta{:http_equiv => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/style.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/jquery-ui.css"}
    %script{:type => "text/javascript", :src => "/jquery.js"}
    %script{:type => "text/javascript", :src => "/jquery-ui.js"}
    %script{:type => "text/javascript", :src => "/layout.js"}
    %script{:type => "text/javascript", :src => "/tags.js"}
    - if authenticated?
      :javascript
        $(document).ready(function() {
          $("#login-form-open-link").unbind('click');
        });
  %body
    #header
      #header-left
        %a{:href => "/", :title => "Click to return to the home page"}=title(@title)
      #header-right
        #search.bordered-box.hand.left
          Search
          %a.right.close_link{:href => "javascript:void(0)"} Close
          %form{:id => "search-form", :method => "POST", :action => "/search"}
            %br
            %table
              %tr
                %td Description:
                %td
                  %input{:type => "text", :name => "name"}
              %tr
                %td Techs:
                %td
                  %input{:id => "search-tech", :type => "text", :name => "techs"}
              %tr
                %td{:colspan => 2, :style => "text-align: right"}
                  %input{:type => "submit", :value => "Search"}
        .bordered-box.right
          %span#login-form-open-link=login_text
          %a#login-form-close-link{:href => "javascript:void(0)"} Close
          #login-form-display
            #login-form-error
            %form{:id => "login-form", :method => "POST", :action => "/account/login"}
              %table
                %tr
                  %td Username
                  %td
                    %input#login-username-field{:type => "text", :name => "username"}
                %tr
                  %td Password
                  %td
                    %input{:type => "password", :name => "password"}
                %tr
                  %td{:colspan => 2}
                    %input{:type => "submit", :value => "Login"}
            %a{:style => "display: block; text-align: center", :href => "/account/create"} Create a new account
    #content
      =yield
