!!!
%html
  %head
    %title=title(@title)     
    %script{:type => "text/javascript", :src => "/jquery.js"}
    %script{:type => "text/javascript", :src => "/layout.js"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/style.css"}
  %body
    #header
      #header-left=title(@title)
      #header-right
        %span#login-form-open-link=login_text
        %a#login-form-close-link{:href => "javascript:void(0)"} Close
        #login-form-display
          #login-form-error
          %form{:id => "login-form", :method => "POST", :action => "/account/login"}
            %table
              %tr
                %td Username
                %td
                  %input#login-username-field{:type => "text", :name => "username"}
              %tr
                %td Password
                %td
                  %input{:type => "password", :name => "password"}
              %tr
                %td{:colspan => 2}
                  %input{:type => "submit", :value => "Login"}
    #mainpane
      =yield
