!!!
%html
  %head
    %title=title(@title)     
    %script{:type => "text/javascript", :src => "/jquery.js"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/style.css"}
  %body
    #header
      #header-left=title(@title)
      #header-right
        =login_text
    #mainpane
      =yield
