!!!
%html
  %head
    %title=title(@title)     
    %script{:type => "text/javascript", :src => "/jquery.js"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/style.css"}
    :javascript
      $(document).ready(function() { 
        $("#login-form-display").hide();
        $("#login-form-close-link").hide();

        $("#login-form-open-link").click(function() {
          $("#login-form-display").show();
          $("#login-form-close-link").show();
          $("#login-username-field").focus();
        });

        $("#login-form-close-link").click(function() {
          $("#login-form-display").hide();
          $("#login-form-close-link").hide();
        });

        $("#logout-link").click(function() {
          $.ajax({
            async: false,
            type: "GET",
            url: "/account/logout",
            dataType: "json",
            success: function(data) {
              if(data.logout_successful) {
                $.get("/account/login_text", function(res) { $("#login-form-open-link").html(res) });
              } else {
                alert("Error logging out. Tell erikh!");
              }
            }
          });

          return false; 
        });

        $("#login-form").submit(function() {
          $.ajax({
            async: false,
            type: "POST",
            url: "/account/login",
            data: {
              username: $("#login-form table tr td input[name=username]").val(),
              password: $("#login-form table tr td input[name=password]").val()
            },
            dataType: "json",
            success: function(data) { 
              if(data.login_successful) {
                $("#login-form-close-link").click();
                $.get("/account/login_text", function(res) { $("#login-form-open-link").html(res) });
              } else { 
                $("#login-form-error").html('<div class="warning">Invalid Login</span>');
              }
            },
            error: function(xhr, ts) { alert(ts); }
          });

          return false;
        });
      });
  %body
    #header
      #header-left=title(@title)
      #header-right
        %span#login-form-open-link=login_text
        %a#login-form-close-link{:href => "javascript:void(0)"} Close
        #login-form-display
          #login-form-error
          %form{:id => "login-form", :method => "POST", :action => "/account/login"}
            %table
              %tr
                %td Username
                %td
                  %input#login-username-field{:type => "text", :name => "username"}
              %tr
                %td Password
                %td
                  %input{:type => "password", :name => "password"}
              %tr
                %td{:colspan => 2}
                  %input{:type => "submit", :value => "Login"}
    #mainpane
      =yield
