!!!
%html
  %head
    %title=title(@title)     
    %link{:rel => "stylesheet", :type => "text/css", :href => "/style.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/jquery-ui.css"}
    %script{:type => "text/javascript", :src => "/jquery.js"}
    %script{:type => "text/javascript", :src => "/jquery-ui.js"}
    %script{:type => "text/javascript", :src => "/layout.js"}
    - if authenticated?
      :javascript
        $(document).ready(function() {
          $("#login-form-open-link").unbind('click');
        });
  %body
    #header
      #header-left
        %a{:href => "/", :title => "Click to return to the home page"}=title(@title)
      #header-right.bordered-box
        %span#login-form-open-link=login_text
        %a#login-form-close-link{:href => "javascript:void(0)"} Close
        #login-form-display
          #login-form-error
          %form{:id => "login-form", :method => "POST", :action => "/account/login"}
            %table
              %tr
                %td Username
                %td
                  %input#login-username-field{:type => "text", :name => "username"}
              %tr
                %td Password
                %td
                  %input{:type => "password", :name => "password"}
              %tr
                %td{:colspan => 2}
                  %input{:type => "submit", :value => "Login"}
          %a{:style => "display: block; text-align: center", :href => "/account/create"} Create a new account
    #content
      =yield
