.mainpane.center
  .bordered-box
    %table#user_info
      %tr.odd
        %td.heading Username
        %td=h @user.username
      %tr.even
        %td.heading Real Name
        %td=h @user.realname
      %tr.odd
        %td.heading{:style => "vertical-align: top"} Interests
        %td
          - @techs.each do |tech|
            %div=h tech.tech
