.mainpane.center
  .bordered-box
    %table#user_info
      %tr.odd
        %td.heading Username
        %td=h @user.username
      %tr.even
        %td.heading Real Name
        %td=h @user.realname
      %tr.odd
        %td.heading.top Interests
        %td
          - @techs.each do |tech|
            %div=h tech.tech
      - unless @projects.empty?
        %tr.even
          %td.heading.top Projects Created
          %td
            - @projects.each do |project|
              .tech
                %a{:href => "/project/show/#{project.id}"}=h project.name
      - unless @assignments.empty?
        %tr.even
          %td.heading.top Assigned Projects
          %td
            - @assignments.each do |assignment|
              .tech
                %a{:href => "/project/show/#{assignment.id}"}=h assignment.name
