body {
  background-color: #888;
  padding: 0;
  margin: 0;
}

#header {
  background-color: #444;
  min-height: 2em;
  padding: 10px;
  color: #AAA;
  border-bottom: 2px solid #222;
}

#header-left {
  float: left;
  border: 2px solid #444;
  padding: 5px;
}

#header-left a {
  color: #AAA;
  text-decoration: none;
}

.hand { 
  cursor: pointer;
}

.bordered-box {
  -moz-box-shadow: 2px 2px 5px #222;
  -webkit-box-shadow: 2px 2px 5px #222;
  box-shadow: 2px 2px 5px #222;
  background-color: #444;
  border: 2px solid #AAA;
  padding: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #AAA;
  margin-bottom: 1em;
  margin-left: 5px;
  margin-right: 5px;
}

.bordered-box a {
  color: white;
}

.bordered-box a:visited {
  color: #AAA;
}

#header-right {
  float: right;
}

#header-right a, a:visited {
  color: white;
}

#login-form-close-link {
  float: right;
}

.warning {
  margin-top: 2px; 
  margin-bottom: 2px; 
  margin-left: auto;
  margin-right: auto;
  padding: 2px; 
  text-align: center; 
  color: black; 
  background-color: #9cc; 
  width: 80%;
}

#content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.mainpane {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
  color: white;
}

.left  { float: left }
.right { float: right }
.center { margin-right: auto; margin-left: auto; }
.clearfix { clear: both }

#user_info {
  width: 100%;
  border: 2px solid black;
}

#user_info td {
  padding: 5px;
}

#user_info td ul {
  margin-top: 0;
  height: 100%;
}

.odd {
  background-color: #222;
  color: white;
}

.even {
  background-color: #333;
  color: white;
}

.heading {
  color: #DDD;
  vertical-align: top;
}

.heading a {
  text-decoration: none;
}

.topic {
  color: white;
  text-align: center;
}

.details {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.details dd,
.details dt {
  padding: 5px;
}

.details dd {
  color: #888;
}

.details a {
  color: white;
}

.details a:visited {
  color: #AAA;
}

.close-link {
  color: white;
  text-decoration: none;
  float: right;
  z-index: 1;
}

.tech {
  width: 80%;
  overflow: none;
}

dd, dd, dt, table {
  width: 95%;
  overflow: auto;
}

table, dl {
  margin-left: auto;
  margin-right: auto;
}

.top {
  vertical-align: top;
}

.bigdiv {
  min-height: 1.5em;
}

.plus { 
  font-family: monospace;
}

.meeting-link {
  width: 100%;
  display: block;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.meeting-wide {
  width: 8em;
}

#meeting-list {
  margin-top: 1em;
}

.description {
  overflow: wrap;
}
